.figure {
  display: table;

  &-caption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
  }
}

.optional-license-text {
  color: var(--bs-gray);
}

.fancybox {
  &__container {
    z-index: var(--fancybox-zIndex, 2050);
  }
}
