.highlight {
  .chroma {
    @import 'syntax.chroma.theme';
    color: #abb2bf;

    .lnt, .line, .hl {
      display: block;
    }

    .lnt {
      -webkit-user-select: none;
      user-select: none;
    }

    table {
      table-layout: fixed;
      width: 100%;

      tr {
        td {
          border: 0;
          margin: 0;
          padding: 0;
          vertical-align: top;

          &:first-child {
            overflow: auto;
            width: 4rem;

            pre {
              border-radius: 0;
              background-color: unset;

              > code {
                padding-right: 0;
              }
            }
          }

          &:last-child {
            overflow: auto;
            width: 100%;

            pre {
              border-radius: 0;
              background-color: unset;

              > code {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
