{{ $cfg := (site.Params.breadcrumb) }}

<nav style="--bs-breadcrumb-divider:'{{ ($cfg.divider) }}';" class="small" aria-label="breadcrumb">
  <ol class="breadcrumb bg-light p-2 rounded">
      {{ range (.Ancestors.Reverse) }}
        <li class="breadcrumb-item">
          <a href="{{ (.RelPermalink) }}" aria-label="{{ ((.Title) | plainify) }}">
              {{ if (.IsHome) }}<i class="fas fa-home fa-fw"></i>{{ else }}{{ (.Title) }}{{ end }}
          </a>
        </li>
      {{ end }}
    <li class="breadcrumb-item active">
        {{ if (.IsHome) }}<i class="fas fa-home fa-fw"></i>{{ else }}{{ (.Title) }}{{ end }}
    </li>
  </ol>
</nav>
