{{ $params := (($.Site.Params) | default "") }}
{{ $developers := (($.Site.Data.org_developers) | default "") }}
{{ $contacts := (($.Site.Data.org_contacts) | default "") }}
{{ $social := (($.Site.Data.org_social) | default "") }}

<!--[ blocks ]-->
{{ $block := (where ($.Site.RegularPages) "Type" "in" "footer") }}
{{ with ($block) }}
  <div class="section py-5 border-top bg-light">
    <div class="container">
      <div class="row g-3">
          {{ range ($block) }}
            <div class="col-lg">
              <article>
                <h4 class="h5 border-bottom pb-3 mb-3">{{ (.Title) }}</h4>
                <div class="node-body">{{ (.Content) }}</div>
              </article>
            </div>
          {{ end }}
      </div>
    </div>
  </div>
{{ end }}
<!--[ / blocks ]-->

<!--[ meta ]-->
<div class="section py-3 border-top bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 small align-items-center">
      <!--[ copyright ]-->
      <div class="col text-center text-lg-start text-muted">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <div>{{ ($.Site.Title) }} &copy; {{ (now.UTC.Format "2006") }}</div>
              {{ with ($params.description) }}
                <div>{{ . }}</div>
              {{ end }}
          </li>
        </ul>
      </div>
      <!--[ / copyright ]-->
      <!--[ info ]-->
      <div class="col text-center text-lg-end">
        <ul class="list-inline mb-0">
            {{ with ($developers) }}
              <li class="list-inline-item">
                <a title="{{ (i18n "developers") }}" class="btn btn-sm" href="#modal-developers" data-bs-toggle="modal" data-bs-target="#modal-developers">
                  <i class="fas fa-code fa-fw"></i>
                </a>
              </li>
            {{ end }}
            {{ with ($contacts) }}
              <li class="list-inline-item">
                <a title="{{ (i18n "contacts") }}" class="btn btn-sm" href="#modal-contacts" data-bs-toggle="modal" data-bs-target="#modal-contacts">
                  <i class="fas fa-location-dot fa-fw"></i>
                </a>
              </li>
            {{ end }}
            {{ with (.OutputFormats.Get "rss") }}
              <li class="list-inline-item">
                <a title="{{ (.Name) }}" class="btn btn-sm" href="{{ (.RelPermalink) }}" target="_blank">
                  <i class="fas fa-rss fa-fw"></i>
                </a>
              </li>
            {{ end }}
            {{ with (.OutputFormats.Get "json") }}
              <li class="list-inline-item">
                <a title="{{ (.Name) }}" class="btn btn-sm" href="{{ (.RelPermalink) }}" target="_blank">
                  <i class="far fa-file-code fa-fw"></i>
                </a>
              </li>
            {{ end }}
            {{ with ($social) }}
              <li class="list-inline-item dropup">
                <a title='{{ (i18n "social_networks") }}' class="dropdown-toggle btn btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-share-nodes fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    {{ range . }}
                        {{ if (and (.name) (.url)) }}
                          <a class="dropdown-item" href="{{ (.url) }}" target="_blank">
                            <i class="{{ (.icon) }} fa-fw"></i>
                              {{ (.name) }}
                          </a>
                        {{ end }}
                    {{ end }}
                </div>
              </li>
            {{ end }}
            {{ with $.Site.Home.AllTranslations }}
              <li class="list-inline-item dropup">
                <a title='{{ (i18n "languages") }}' class="dropdown-toggle btn btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-language fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    {{ range . }}
                      <a class="dropdown-item" href="{{ (.RelPermalink) }}" hreflang="{{ (.Language.Lang) }}">
                          {{ (.Language.LanguageName) }}
                      </a>
                    {{ end }}
                </div>
              </li>
            {{ end }}
        </ul>
      </div>
      <!--[ / info ]-->
    </div>
  </div>
</div>
<!--[ / meta ]-->
